@import '../fonts/ProximaNova.css';

body {
	background-color: white;
	color: black;
}

.button-group {
	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	text-align: center;
	padding: 8px;
	border: 2px solid black;
}

.vertical {
	flex-direction: column;
	width: 40%;
	height: fit-content;
}

.horizontal {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	height: fit-content;
}

.group-title {
	width: 100%;
	margin: 10px 0 5px 0;
	text-align: center;
	font-weight: bold;
}

#center .group-title {
	text-align: left;
}

.title-data-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
}

.button-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    display: inline-block;
	width: 20vw;
	height: 7vh;
	margin: 10px 0;
	padding: 7px;
	border: 2px solid black;
	background: transparent;
}
.button p {
	font-size: .8em;
}


.data {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 10vw;
	border: 2px solid black;
	font-size: 0.8em;
}

.wrapper,
.center-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

.center-wrapper {
	justify-content: space-between;
}

#center {
	padding: 0 10px;
}

/* LOADING VIEW */

p.deviceAddress {
	margin: 5px 0px 10px 10px;
	font-size: xx-small;
	font-weight:bold;
}

p.deviceName {
	margin: 5px 0px 0px 10px;
	font-weight: bold;
}

div.deviceContainer {
	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;
	margin: 10px 0px;
}

#loadingView {
	position: absolute;
	left:0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: table;
	text-align: center;
}

#loadingIndicator {
	width:20%;
	display: table-cell;
	vertical-align: middle;
	background-color: white;
}


/* START VIEW */
#startwrapper {
	width: 95vw;
    height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
}

#teddybear {
	display: block;
	margin: auto;
	border-radius: 300px;
}


/* EVOTHINGS BUTTONS */




button.clear {
	margin-left: 1%;
	background-color: #e15a64; /* Default color: "Soft Red". */
}

input.btn-group + label {
	display: inline-block;
	box-sizing: border-box; /* Width & height includes padding & border. */
	font-size: inherit;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;

	color: #fff;

	margin: 0.5em 0 0.5em 0;
	padding: 9px 13px 8px 13px;

	border-radius: 4px;
	border: 2px solid black;

	box-shadow: none;

	background-color: transparent; 
} 
body > button,
body > input.btn-group + label,
main > button,
main > input.btn-group + label {
	font-size: 63% !important;
}
button:active, button.pressed,
input.btn-group:active + label, input.btn-group + label:active,
input.btn-group:checked + label {
	box-shadow: inset 0 8px 9px -9px #000;
	background-color: #9d9d9d; /* Default color: "Charcoal" */
}
button:focus,
input.btn-group:focus {
	outline: none;
}

button.half,
input.btn-group.half + label,
input.btn-group + label.half {
	float: left;
	width: 50%; /* Fallback in case calc() is unsupported. */
	width: calc(50% - 4px);
	margin-left: 2px;
	margin-right: 2px;
}

button.third,
input.btn-group.third + label,
input.btn-group + label.third {
	float: left;
	width: 33%; /* Fallback in case calc() is unsupported. */
	width: calc(33% - 4px);
	margin-left: 2px;
	margin-right: 2px;
}

button.quarter,
input.btn-group.quarter + label,
input.btn-group + label.quarter {
	float: left;
	width: 25%; /* Fallback in case calc() is unsupported. */
	width: calc(25% - 4px);
	margin-left: 2px;
	margin-right: 2px;
}

button.wide,
input.btn-group.wide + label,
input.btn-group + label.wide {
	width: 100%;
}

button.big,
input.btn-group.big + label,
input.btn-group + label.big {
	font-size: 150%;
	line-height: 3.0;
}

/*  Input with class btn-group should be accompanied by a label acting as a
	button. */
input.btn-group {
	display: none;
}

button:disabled {
	background-color: lightgray !important;
}

/*  ----------------------------------------------------------
								COLORS
	---------------------------------------------------------- */

/*  Color: "Soft Red"
	Class name: red
    ---------------- */
.color_softred { color: #e15a64; }
.bg_red, input.red, button.red, ul.red li, label.red,
input.red + label {
	background-color: #e15a64;
}
/* Downpressed button. */
button.red:active, button.red.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.red,
input.btn-group.red:active + label,
input.btn-group:checked + label.red,
input.btn-group.red:checked + label {
	background-color: #cb414b;
}

/*  Color: "Bright Light"
	Class name: yellow
	-------------------- */
.color_brightlight { color: #ecd53b; }
.bg_yellow, input.yellow, button.yellow, ul.yellow li, label.yellow,
input.yellow + label {
	background-color: #ecd53b;
}
/* Downpressed button. */
button.yellow:active, button.yellow.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.yellow,
input.btn-group.yellow:active + label,
input.btn-group:checked + label.yellow,
input.btn-group.yellow:checked + label {
	background-color: #d9c022;
}

/*  Color: "Wave Green"
	Class name: green
	------------------ */
.color_wavegreen { color: #54dfb3; }
.bg_green, input.green, button.green, ul.green li, label.green,
input.green + label {
	background-color: gold;
}
/* Downpressed button. */
button.green:active, button.green.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.green,
input.btn-group.green:active + label,
input.btn-group:checked + label.green,
input.btn-group.green:checked + label {
	background-color: #3aca9c;
}

/*  Color: "Blue Hue"
	Clas name: blue
	------------------ */
.color_bluehue { color: #6bc6ce; }
.bg_blue, input.blue, button.blue, ul.blue li, label.blue,
input.blue + label {
	background-color: #6bc6ce;
}
/* Downpressed button. */
button.blue:active, button.blue.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.blue,
input.btn-group.blue:active + label,
input.btn-group:checked + label.blue,
input.btn-group.blue:checked + label {
	background-color: #52afb8;
}

/*  Color: "Indigo"
	Class name: indigo
	------------------ */
.color_indigo { color: #b48b9b; }
.bg_indigo, input.indigo, button.indigo, ul.indigo li, label.indigo,
input.indigo + label {
	background-color: #b48b9b;
}
/* Downpressed button. */
button.indigo:active, button.indigo.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.indigo,
input.btn-group.indigo:active + label,
input.btn-group:checked + label.indigo,
input.btn-group.indigo:checked + label {
	background-color: #9c7283;
}

/*  Color: "Arctic"
	Class name: arctic
	------------------ */
.color_arctic { color: #f3f3f3; }
.bg_arctic, input.arctic, button.arctic, ul.arctic li,
input.arctic + label {
	background-color: #f3f3f3;
}
/* Downpressed button. */
button.arctic:active, button.arctic.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.arctic,
input.btn-group.arctic:active + label,
input.btn-group:checked + label.arctic,
input.btn-group.arctic:checked + label {
	background-color: #656565;
}

/*  Color: "Aluminium"
	Class name: aluminium
	------------------ */
.color_aluminium { color: #e2e2e2 }
.bg_aluminium, input.aluminium, button.aluminium, ul.aluminium li,
input.aluminium + label {
	background-color: #e2e2e2;
}
/* Downpressed button. */
button.aluminium:active, button.aluminium.pressed,
	/* Input element with adjacent label. */
input.btn-group:active + label.aluminium,
input.btn-group.aluminium:active + label,
input.btn-group:checked + label.aluminium,
input.btn-group.aluminium:checked + label {
	background-color: #c0c0c0;
}

/*  Color: "Charcoal"
	Class name: charcoal
	------------------ */
.color_charcoal { color: #b9b9b9; }
.bg_charcoal, input.charcoal, button.charcoal, ul.charcoal li,
input.charcoal + label {
	background-color: #b9b9b9;
}
/* Downpressed button. */
button.charcoal:active, button.charcoal.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.charcoal,
input.btn-group.charcoal:active + label,
input.btn-group:checked + label.charcoal,
input.btn-group.charcoal:checked + label {
	background-color: #9d9d9d;
}

/*  Color: "Stone"
	Class name: stone
	------------------ */
.color_stone { color: #777777 }
.bg_stone, input.stone, button.stone, ul.stone li,
input.stone + label {
	background-color: #777777;
}
/* Downpressed button. */
button.stone:active, button.stone.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.stone,
input.btn-group.stone:active + label,
input.btn-group:checked + label.stone,
input.btn-group.stone:checked + label {
	background-color: #656565;
}

/*  Color: "Jet Black"
	Class name: jetblack
	------------------ */
.color_black { color: #070707 }
.bg_black, input.black, button.black, ul.black li,
input.black + label {
	background-color: #070707;
}
/* Downpressed button. */
button.black:active, button.black.pressed,
/* Input element with adjacent label. */
input.btn-group:active + label.black,
input.btn-group.black:active + label,
input.btn-group:checked + label.black,
input.btn-group.black:checked + label {
	background-color: #000000;
}

/*///////////////////////////////
//		 Boilerplate CSS	   //
///////////////////////////////*/

/* The header's height is determined by the contained text's font size. */
header {
	box-sizing: border-box; /* Width & height includes padding & border. */

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 1.1em;

	/* Left and right margins should correspond to body margins. */
	margin: 0 0 3.45% 0;
	/* Left padding should correspond to the back button's width. */
	padding: 1% 2% 1% 2%;

	font-size: 180%;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;

	z-index: 1000;
}
header button {
	display: block;
	position: absolute;
	top: 50%;

	margin: 0;

	font-size: 30%;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
header button.back {
	position: absolute;
	left: 0;

	height: 100%;
	margin: 0;
	padding: 0 0.9em;

	/* Font size is percentage of the header's font size. */
	font-size: 50%;
	color: #000;

	text-align: left;

	background: rgba(128, 128, 128, 0.721);

	border-radius: 0;
	border: none;

	box-shadow: none;
}
header button.back img {
	height: 1.5em;
	border: 2px solidblack;
	background-color: #f0f0f011;
	border-radius: 4px;
}
header button#disconnect {
	position: relative;
	margin: 0 auto;
	border: none;
}
header img.logotype {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	margin: 0 .4em 0 auto;
	padding: 2px;

	height: 60%;

	background: white;
	border-radius: 2px;

	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
html {
	padding: 10px;
}
html, body {
	height: 100%;
	font-family: sans-serif;
	font-weight: normal;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	/* display: flex;
	justify-content: space-between;
	flex-direction: row; */
	display: inline-block;
	margin: auto;
	padding: auto;
    font-size: 5vw;
	width: 100%;
}

/* Add a top margin to the content corresponding to the height of the header. */
body::before,
section::before {
	display: block;
	width: 100%;
	height: 1.1em; /* Should correspond to header's height. */

	content: '\0000a0'; /* Non-breaking space (&nbsp;) */
	font-size: 180%; /* Same as the header's font size. */
	line-height: 200%; /* Slighly more than the header's line-height. */
}

/* Add a bottom margin. */
body::after,
section::after {
	display:block;
	content: '';
	height: 1em;
}

@media	screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio : 2),
		screen and (orientation: landscape) and (min--moz-device-pixel-ratio: 2),
		screen and (orientation: landscape) and (min-device-pixel-ratio : 2) {
	body {
		font-size: 3vw;
	}
	.button-group.vertical {
		width: 20%;
		height: 90vh;
	}
	.center-wrapper {
		width: 40%;
		height: 90vh;
		margin: 10px 0;
	}
	#shoulder {
		order: 1;
	}
	#center {
		order: 2;
	}
	#elbow {
		order: 3;
	}
	.button {
		width: 7vw;
		height: 7vw;
	}
	.arrow {
		width: 100%;
		height: 100%;
	}
	.data {
		width: 20vh;
		height: 10vh;
	}
}
